@page
@model TicTacToe.Pages.TicTacToeModel
@{
    ViewData["Title"] = "TicTacToe";
}

<h2>TicTacToe</h2>
<div id="grid">
    @for (int i = 0; i < 9; i++)
    {
        <div id="square-@i" class="square"></div>
    }
</div>

<p id="turn"></p>